In [92]:
import pandas as pd
from tqdm import tqdm_notebook as tqdm
import numpy as np

df = pd.read_csv('ALLdataset.csv',index_col = 0)
df = df.dropna(axis=0)
df = df.head(1000)
df

C:\Users\ricky\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\ricky\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

          site  cindex cName classification  confidence          D
date
20210927  T753     101  輪蟲幼蟲       101_輪蟲幼蟲    0.371431  39.638027
20210927  T753     116   絲狀菌        116_絲狀菌    0.996904  18.817467
20210927  T753     125   膜袋蟲        125_膜袋蟲    0.828820  35.845880
20210927  T753     116   絲狀菌        116_絲狀菌    0.418498  32.625321
20210927  T753     116   絲狀菌        116_絲狀菌    0.998210  22.131402
...        ...     ...   ...            ...         ...        ...
20210927  T752     118   尾絲蟲        118_尾絲蟲    0.360994  76.110273
20210927  T752     101  輪蟲幼蟲       101_輪蟲幼蟲    0.450736  34.396957
20210927  T752     125   膜袋蟲        125_膜袋蟲    0.422681  37.719349
20210927  T752     116   絲狀菌        116_絲狀菌    0.997449  22.977491
20210927  T752     101  輪蟲幼蟲       101_輪蟲幼蟲    0.762825  34.977667

[1000 rows x 6 columns]

In [109]:
def convert_to_df2(df):
    new_df = pd.DataFrame(index = df.index.unique())
    
    for i in df.cName.unique():
        for j in range(1,11,1):
            new_df[i+str(int(j*10))+'%'] = np.nan
    
    for date in tqdm(new_df.index):
        for cName in df['cName'].to_list():
            for q in range(1,11,1):
                q = q*0.1
                d = df.loc[(df.index==date)&(df.cName==cName),['D']]
                d2 = d.loc[(d['D']>d['D'].quantile(q-0.1))&(d['D']<d['D'].quantile(q))]
                new_df.loc[date,cName+str(int(q*100))+'%'] = len(d2)
    
    return new_df
df2 = convert_to_df2(df)
df2

C:\Users\ricky\AppData\Local\Temp/ipykernel_14492/1092955476.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[i+str(int(j*10))+'%'] = np.nan
C:\Users\ricky\AppData\Local\Temp/ipykernel_14492/1092955476.py:11: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for date in tqdm(new_df.index):

  0%|          | 0/1 [00:00<?, ?it/s]

,輪蟲幼蟲10%,輪蟲幼蟲20%,輪蟲幼蟲30%,輪蟲幼蟲40%,輪蟲幼蟲50%,輪蟲幼蟲60%,輪蟲幼蟲70%,輪蟲幼蟲80%,輪蟲幼蟲90%,輪蟲幼蟲100%,...,單鐮蟲10%,單鐮蟲20%,單鐮蟲30%,單鐮蟲40%,單鐮蟲50%,單鐮蟲60%,單鐮蟲70%,單鐮蟲80%,單鐮蟲90%,單鐮蟲100%
date,,,,,,,,,,,,,,,,,,,,,
20210927,14.0,15.0,13.0,14.0,14.0,14.0,14.0,13.0,14.0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0